<!DOCTYPE html>
<html lang="es">
<head>
    <title>
        Welcome StreMovify
    </title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Primary meta tags -->
    <meta name="description" content="StreMovify is a popular movie app made by TeamMondongo." />

    <!-- favicon -->
    <link rel="shortcut icon" href="{{url_for('static', filename='/assets/image/movie-roll.png')}}" type="image/svg+xml"/>

    <!-- google font link -->

    
    <!----AQUI VA LOS STYLES CSS-->
     <!-- custom css link -->
    
    <link rel="shortcut icon" href="/image/logo.svg" type="image/svg+xml">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/main/Registro-Main.css')}}">
    
   
   
</head>
<body>
 
  {% block body %}
  {% endblock %}

  <!---AQUI VA LOS SCRIPT-->

  
</body>
</html>