<!DOCTYPE html>
<html lang="es">
<head>
    <title>
        StreMovify
    </title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Primary meta tags -->
    <meta name="description" content="StreMovify is a popular movie app made by TeamMondongo." />
    <!-- favicon -->
    <link rel="shortcut icon" href="{{url_for('static', filename='/assets/image/movie-roll.png')}}" type="image/svg+xml"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    
    <!----AQUI VA LOS STYLES CSS-->
     <!-- custom css link -->
    
    <link rel="shortcut icon" href="/image/logo.svg" type="image/svg+xml">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/main/Cancelled-Payment.css')}}">
    
   
   
</head>
<body>
 
  {% block body %}
  {% endblock %}

  <!---AQUI VA LOS SCRIPT-->

  <script src="{{ url_for('static', filename='js/cancelled-payment.js') }}"></script>


  
</body>
</html>